Source: simulamet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <thomas.dreibholz@gmail.com>
Homepage: http://www.simulamet.no
Build-Depends: cmake,
               debhelper (>= 12),
               fonts-dejavu,
               fonts-noto-cjk,
               fonts-noto-hinted,
               ghostscript,
               gimp,
               graphicsmagick,
               gsfonts,
               libimage-exiftool-perl
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: simulamet-management
Architecture: all
Depends: acl,
         apt-file,
         bash,
         bash-completion,
         bridge-utils,
         bwm-ng,
         bzip2,
         chrpath,
         cloud-guest-utils,
         curl,
         dnsutils,
         ethtool,
         fail2ban,
         gdisk,
         git,
         gnupg,
         gpm,
         htop,
         idn,
         iproute2,
         iptables,
         iputils-ping,
         joe,
         jq,
         less,
         make,
         man,
         net-tools,
         netperfmeter,
         nmap,
         openssh-server,
         openssl,
         parallel,
         pwgen,
         python3,
         qt6-linguist | qtbase5-dev,
         qt6-qtbase-devel | qtbase5-dev,
         rsplib-tools,
         rsync,
         subnetcalc,
         sudo,
         tcpdump,
         td-system-configure-grub,
         td-system-tools,
         traceroute,
         tree,
         tsctp,
         tshark,
         unzip,
         uuid,
         virt-what,
         wget,
         zip,
         ${misc:Depends}
Recommends: grub2-common,
            language-pack-de-base,
            language-pack-en-base,
            language-pack-nb-base,
            valgrind
Description: Management tools for the SimulaMet system environment
 This metapackage contains basic software for SimulaMet system management.
 The software installed provides a common working environment.
 .
 See http://www.simulamet.no for details on SimulaMet!

Package: simulamet-development
Architecture: all
Depends: autoconf,
         automake,
         bc,
         bison,
         build-essential,
         clang,
         cmake,
         debhelper,
         devscripts,
         distro-info,
         dpkg-dev,
         extra-cmake-modules,
         flex,
         fonts-dejavu,
         fonts-noto,
         fonts-open-sans,
         g++,
         gcc,
         gdb,
         ghostscript,
         git-lfs,
         graphicsmagick,
         gsfonts,
         libboost-all-dev,
         libbz2-dev,
         libc-ares-dev,
         libcurl4-openssl-dev,
         libgeoip-dev,
         libimage-exiftool-perl,
         liblzma-dev,
         libsctp-dev,
         libssl-dev,
         manpages-dev,
         pbuilder,
         pdf2svg,
         pkg-config,
         python3-distro,
         python3-netifaces,
         python3-pip,
         r-base,
         reprepro,
         shellcheck,
         simulamet-management (= ${binary:Version}),
         zlib1g-dev,
         ${misc:Depends}
Recommends: qt6-base-dev,
            qt6-l10n-tools,
            ubuntu-dev-tools,
            yamllint
Description: Development tools for the SimulaMet system environment
 This metapackage contains basic software for SimulaMet development.
 The software installed provides a common working environment.
 .
 See http://www.simulamet.no for details on SimulaMet!

Package: simulamet-desktop
Architecture: all
Depends: firefox | firefox-esr,
         kubuntu-desktop | neon-desktop | kde-standard | deepin-desktop-environment | lubuntu-desktop | ubuntu-desktop,
         sddm | kdm | lightdm | gdm3,
         simulamet-management (= ${binary:Version}),
         ${misc:Depends}
Description: Desktop setup for the SimulaMet system environment
 This metapackage contains the scripts to configure a SimulaMet desktop.
 .
 See http://www.simulamet.no for details on SimulaMet!
