Source: simulamet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.simulamet.no
Build-Depends: cmake (>= 3.3) | cmake3,
               debhelper (>= 9),
               fonts-dejavu,
               fonts-noto-cjk,
               fonts-noto-hinted,
               ghostscript,
               gimp,
               graphicsmagick,
               gsfonts,
               libfile-fcntllock-perl,
               libimage-exiftool-perl
Standards-Version: 4.5.0.3
Rules-Requires-Root: no
Vcs-Git: https://github.com/dreibh/simulamet.git
Vcs-Browser: https://github.com/dreibh/simulamet

Package: simulamet-management
Architecture: all
Depends: apt-file,
         apt-show-versions,
         bash-completion,
         bc,
         bridge-utils,
         btrfs-progs | btrfs-tools,
         bwm-ng,
         colordiff,
         cron,
         cron-apt,
         eatmydata,
         ethtool,
         git,
         gpm,
         hping3,
         htop,
         idn,
         ifupdown,
         joe,
         libfile-fcntllock-perl,
         lksctp-tools,
         lsb-base (>= 3.2-14),
         mlocate,
         net-tools,
         netperfmeter,
         nmap,
         ntpdate,
         reiserfsprogs,
         reprepro,
         rsplib-services,
         rsplib-tools,
         smartmontools,
         snmp,
         software-properties-common,
         subnetcalc,
         tcpdump,
         tftp,
         traceroute,
         tree,
         virt-what,
         vlan,
         whois,
         xz-utils (>= 5.2.0) | pxz,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: apport-retrace,
            grub2-common,
            ipsec-tools,
            language-pack-de-base,
            language-pack-en-base,
            language-pack-nb-base,
            tshark
Description: Management tools for the SimulaMet system environment
 This metapackage contains basic software for SimulaMet system management.
 The software installed provides a common working environment.
 .
 See http://www.simulamet.no for details on SimulaMet!

Package: simulamet-development
Architecture: all
Depends: autoconf,
         automake,
         bc,
         bison,
         clang,
         cmake (>= 3.3) | cmake3,
         debhelper,
         devscripts,
         flex,
         fonts-dejavu,
         fonts-noto-cjk,
         fonts-noto-hinted,
         gdb,
         ghostscript,
         gnupg,
         gnuplot,
         graphicsmagick,
         gsfonts,
         libboost-all-dev,
         libbz2-dev,
         libglib2.0-dev,
         libimage-exiftool-perl,
         libpcap-dev,
         librsplib-dev,
         libsctp-dev,
         libtool,
         pbuilder,
         pkg-config,
         python3-all,
         quilt,
         r-base,
         r-cran-ggplot2,
         r-cran-hmisc,
         rpm,
         rsplib-doc,
         simulamet-management (= ${binary:Version}),
         sysvbanner,
         valgrind,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: createrepo,
            docker.io,
            mock,
            ubuntu-dev-tools
Description: Development tools for the SimulaMet system environment
 This metapackage contains basic software for SimulaMet development.
 The software installed provides a common working environment.
 .
 See http://www.simulamet.no for details on SimulaMet!

Package: simulamet-desktop
Architecture: all
Depends: firefox | firefox-esr,
         kubuntu-desktop | neon-desktop | kde-standard | deepin-desktop-environment | lubuntu-desktop | ubuntu-desktop,
         sddm | kdm | lightdm | gdm3,
         simulamet-management (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Desktop setup for the SimulaMet system environment
 This metapackage contains the scripts to configure a SimulaMet desktop.
 .
 See http://www.simulamet.no for details on SimulaMet!
